.personContainer{
    margin:0 auto;
    text-align: center;
    width:33%;
    border: solid black 2px;
    border-radius:5px;
}

.buttonsContainer{
    margin-bottom: 5%;
}

.buttonOne{
    padding:2%;
    color:white;
    background-color:rgb(10, 140, 201);
    border-radius: 5px;
    font-size: 105%;
    font-weight: bold;
    border:solid black 2px;
}

.buttonTwo{
    padding:1%;
    color:white;
    background-color:rgb(10, 140, 201);
    border-radius: 5px;
    font-size: 105%;
    font-weight: bold;
    border:solid black 2px;
    margin-left:3%;
}
img{
    width:150px;
    height:150px;
}